footer {
    text-align: center;
}


.meter-holder{
    height: 40px;
    background-color: #efefef;
    width: 100%;
    border: 1px solid #f7f7f7;
    border-radius: 4px;
}

.meter-bar{
    height: 36px;
    width: 0px;
    margin: 1px 0px 0px 1px;
    border-radius: 4px;
    transition: background-color 1000ms linear;
}

#project-body{
    margin: 0px auto;
    float: none;
}

h3,h5{
    padding: 0px;
    margin: 0px;
}

.panel{
    margin-top: 35px;
}

#bar-container{
    padding-left: 0px;
    padding-right: 0px;
}